:root {
  --background-color: rgb(96, 86, 240);
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: var(--background-color);
  color: white;
}

.container {
  width: 500px;
}
.tags {
  display: inline-block;
  width: 600px;
  height: auto;
  overflow: scroll;
}
.text-area {
  padding: 10px;
  font-size: 16px;
}

.tag {
  background-color: darkblue;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 5px;
  display: inline-block;
}
.tag.active {
  background-color: coral;
}
