@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
  margin: 0;
}

.container {
  border-radius: 5px;
  width: 300px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #3e57db;
  padding: 0;
  color: white;
  padding: 20px;
  line-height: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header h3 {
  margin: 0;
}

.header input {
  border: none;
  background-color: #172461;
  width: 100%;
  border-radius: 20px;
  padding: 0.5rem 10px;
  margin: 10px auto;
  color: white;
}

.header input:focus {
  outline: 0;
}

.user-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 380px;
  overflow: scroll;
}

.user-list li {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
  /* border: solid 1px rgba(0, 0, 0, 0.5); */
}
.user-list li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.user-list li img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.user-info {
  margin-left: 20px;

  justify-content: center;
}
.user-info h3 {
  margin: 0 0 5px 0;
}

.user-list li.hide {
  display: none;
}
