@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --background-color: #fff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: var(--background-color);
}

img {
  max-width: 100%;
}
.course-img {
  height: 200px;
}

.course-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card {
  width: 350px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}

.course-info {
  padding: 18px 14px;
  justify-content: center;
}
.tittle-info {
  margin: 10px 0 14px 0;
}
.author {
  display: flex;
  /* margin: auto; */
}
.author-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 100%;
}
.author-info small {
  color: gray;
  opacity: 0.8;
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );

  background-size: 200% 100%;

  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  height: 10px;
  margin: 0;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}
