:root {
  --background-color: #3494e4;
  --prime-color: #6ab3f8;
  --border-color: #144fc6;
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: white;
  background-color: var(--background-color);
}

.cup {
  color: var(--prime-color);
  background-color: #fff;
  height: 330px;
  width: 150px;
  border-radius: 0 0 35px 35px;
  border: 2px solid #144fc6;
  display: flex;
  margin: 30px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.cup .remained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
  font-size: 20px;
}

.cups {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cup-small {
  height: 95px;
  width: 50px;
  margin: 10px;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  border: solid 2px var(--border-color);
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cup-small.active {
  background-color: var(--fill-color);
  color: white;
}

.percentage {
  background-color: #3494e4;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 0;
  width: 100%;
  transition: 0.3s ease;
}
