@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: rgb(146, 65, 221);
  position: relative;
}

.notification {
  background: #000;
  color: rgb(146, 65, 221);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.toast-notification {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
}
.msg {
  margin: 20px;
  cursor: default;
}
